/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
    background: LemonChiffon;
}

select {
    margin: 10px;
    padding: 5px;
}

#flag-container {
    margin-top: 20px;
}
